.gap_xlarge { height: 32px; }
.gap_large { height: 22px; }
.gap_medium { height: 12px; }
.gap_small { height: 8px; }
.gap_xsmall { height: 2px; }

.card {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  background: #4B79A1;
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);
  background: linear-gradient(to right, #283E51, #4B79A1);
  text-align: center;
  padding-top: 32px;
}

.title {
  color: white;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 3px 12px;
  border-radius: 4px;
}
 
.front {}

.front_text {
  color: white;
  font-weight: bold;
  font-size: 32px;
  line-height: 20px;
  height: 20px;
}

.back {
  width: 70%;
  margin: auto;
  background-color: #edf1f5;
  padding: 12px;
  border-radius: 4px;
}

.back_text {
  color: #070c10;
  font-size: 18px;
}
 
.back_subtext {
  font-size: 13px;
  color: gray;
}

.separator {
  background-color: transparent;
  border: none;
  border-top: 1px dashed lightgray;
}
